@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

:root {
    --black: #333;
    --greyish: #f8f8f8;
    --white: #fff;
    --test: #548ec9;
    --whiteish: #f8f8f8;
    --header-height: 60px;
    --footer-height: 60px;
    --full-screen-height: calc(100vh - var(--header-height) - var(--footer-height));
    --net-view-height: calc(100vh - var(--header-height));
    --banner-full-url: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), url(../media/banner-full.jpg);
    --banner-medium-url: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), url(../media/banner-3440.jpg);
    --banner-small-url: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), url(../media/banner-1024.jpg);
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h2 {
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.4em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.blog-title h2 {
    margin-bottom: 10px;
}

.title p {
    margin-top: 40px;
    max-width: 700px;
    text-align: center;
}

p {
    color: var(--black);
    font-weight: 300;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

.header {
    background-color: #f8f8f8;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}


/* NAV */
.logo {
    position: relative;
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    height: 100%;
    width: 100%;
    margin: auto;
}

.nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--white);
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-menu.active {
    right: 0;
}

.nav-item {
    margin: 2.5rem 0;
}

.nav-item a {
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #acaeb1;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--black);
}

.hamburger {
    z-index: 1;
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* MESSAGING */


.alert {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}

.alert-success {
    background-color: green;
    color: #fff;
}

/*  */

main {
    margin-top: var(--header-height);
    min-height: var(--full-screen-height);
    background-color: var(--white);  
}

section {
    position: relative;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.heading {
    text-align: center;
    color: #fff;
}

.heading h1 {
    font-size: 2.4em;
    text-transform: uppercase;
    font-optical-sizing: auto;
    font-weight: 500;
    
}

.heading h2 {
    font-size: 1.3em;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.banner {
    margin-top: var(--header-height);
    background-image: var(--banner-full-url);
    background-position: 50% 60%;
    width: 100%;
    max-width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1, .banner p {
    color: #fff;
}

.banner p {
    margin-top: 10px;
}

.banner .btn {
    margin-top: 30px;
}

.icon {
    margin: 0;
    height: 15px;
}

/* POSTS */

.blogpost {
    width: 100%;
    margin-bottom: 60px;
}

.blogpost hr {
    margin: 10px 0;
    border-top: 0.1px solid rgba(0, 0, 0, 0.05);
}

#show img {
    max-width: 100%;
    margin-bottom: 20px;
}

.written-by {
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #636363;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    margin-top: 20px;
    background: #458bd1;
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.25s;
    min-width: 150px;
    text-align: center;
}

.btn-danger {
    background-color: red;
}

.button-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.btn:hover {
    color: var(--white);
    background: var(--black);
}

.postForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    max-width: 800px;
}

.postForm .row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.postForm .row2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.postForm .row input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--black);
    outline: none;
    background: var(--white);
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}

.postForm .row2 input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--black);
    outline: none;
    background: var(--white);
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}

.postForm .row2 textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--black);
    outline: none;
    background: var(--white);
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}

/* USERS */

#login {
    padding-top: 100px;
}

.userForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    max-width: 400px;
}

.userForm .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.userForm .row2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.userForm .row input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--black);
    outline: none;
    background: var(--white);
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}

.userForm .row2 input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--black);
    outline: none;
    background: var(--white);
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

::placeholder {
    color: var(--black);
}

.userForm .row2 input[type="submit"],
.postForm .row2 input[type="submit"] {
    background: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
    cursor: pointer;
    width: 200px;
}

.userForm .row2 input[type="submit"]:hover {
    background: var(--black);
    color: var(--white);
}

#edit-user {
    padding-top: 100px;
}

/* INDEX POSTS */

.index-posts {
    margin-top: 40px;
}

/* --------------------------- ADD POST ----------------------------- */

#add-post {
    padding-top: 100px;
    padding-bottom: 40px;
}

/* --------------------------- SHOW ----------------------------- */

#show {
    padding-top: 60px;
}

/* --------------------------- ABOUT ----------------------------- */

#about {
    padding-top: 100px;
    padding-bottom: 40px;
}

#about img {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 800px;
}



/* -------------------------------------------------------- */




/* ----------------------------------------------------------------- */




footer {
    background-color: #f8f8f8;
    height: var(--footer-height);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

footer .footerMenu {
    display: flex;
}

footer .footerMenu li {
    list-style: none;
}

footer .footerMenu li a {
    display: inline-block;
    text-decoration: none;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
}

.copyrightText {
    text-align: center;
    letter-spacing: 1px;
}

.version {
    color: rgba(0, 0, 0, 0.6);
}

.invalid-feedback {
    color: red;
}

@media only screen and (max-width: 3440px) {

    .banner {
        background-image: var(--banner-medium-url);
    }
}

@media only screen and (max-width: 1024px) {

    .header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }


    .navbar {
        padding: 0 20px;
    }

    .banner {
        margin-top: var(--header-height);
        background-image: var(--banner-small-url);
        height: 25vh;
        min-height: 250px;
    }

    main {
        width: 100%;
        padding: 0 0;
    }

    section {
        padding: 40px 20px 20px 20px;

    }

    .blogpost {
        margin-bottom: 40px;
    }

    #add-post {
        padding-top: 40px;
    }

    #show {
        padding-top: 40px;
    }

    #about {
        padding-top: 40px;
    }

    footer {
        padding: 0 20px;
    }

    footer .footerMenu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;

    }

    footer .footerMenu li a {
        margin: 5px 0;
    }
}

@media only screen and (max-width: 768px) {
    section {
        padding: 0 0 20px 0;

    }

    .blogpost{
        padding: 10px 20px;
    }

    #show {
        padding-top: 0;
    }

    #about {
        padding-top: 0;
    }

    #about img {
        margin-top: 0;
        max-width: 800px;
    }

    .about-text {
        padding-left: 20px;
        padding-right: 20px;
    }

    .userForm .row2 input[type="submit"],
    .postForm .row2 input[type="submit"] {
        width: 100%;
    }
}